body{
    overflow-x: hidden;
}

a{
    text-decoration: none;
    text-emphasis: none;
}

a:focus,a:hover{
    text-decoration: none;
    outline: none;
    border: none;
    color:#fff;
}


.navbar {
    position: sticky;
    left: 0;
    top: 0;
    z-index: 1000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: rgba(0, 0, 0, 0.8);
    color: #fff !important;
    width: 100%;
    height: 6rem;
    padding: 0 9rem;
  }
  
  .navbar .brand {
    height: 3rem;
  }
  
  .navbar .brand img {
    height: 100%;
  }
  
  .navbar .nav-toggler {
    display: none;
  }
  
  .navbar .nav-links {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    font-weight: inherit;
  }
  
  .navbar .nav-links{
      margin:0;
      padding:0;
  }


  .navbar .nav-links li {
    font-size: 1.2rem;
    position: relative;
  }
  
  .navbar .nav-links li:not(:last-child) {
    margin-right: 3rem;
  }
  
  .navbar .nav-links li a {
    font-family: 'Signika', sans-serif;
    color: white;
    -webkit-transition: color 300ms ease-in;
    transition: color 300ms ease-in;
  }
  
  .navbar .nav-links li a:hover,.navbar .nav-links li a.active {
    color: #F3264B;
  }
  
  @media screen and (max-width: 1170px) {
    .navbar {
      padding: 0 2rem;
      height: 5rem;
    }
    .navbar .brand {
      height: 2rem;
    }
    .navbar .nav-links {
      position: absolute;
      top: 5rem;
      left: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: calc(100vh - 5rem);
      width: 100%;
      -webkit-transition: -webkit-transform 0.5s ease-in;
      transition: -webkit-transform 0.5s ease-in;
      transition: transform 0.5s ease-in;
      transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
      background: rgba(0, 0, 0, 0.8);
    }
    .navbar .nav-links > li:not(:last-child) {
      margin-right: 0;
    }
    .navbar .nav-links.active {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    .navbar .nav-toggler {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-left: auto;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 2.5rem;
      height: 1.5rem;
    }
    .navbar .nav-toggler .dash {
      width: 100%;
      height: 3px;
      background: white;
    }
  }
  
  @media screen and (max-width: 767px) {
    .navbar {
      padding: 0 1rem;
    }
  }
  