body {
  background-color: #322f2f;
  color: white;          
  font-family: 'Roboto', sans-serif;
}
/*
a{
	position:relative;
}
a::after{
	z-index: -1;
	position:absolute;
	transform:border-bottom;
	transition: transform 0.3s ease-in;
}
a:hover:after{
	border-bottom:5px solid red;
}
*/
@media only screen and (min-width: 600px) {
  .label {
    margin-top: 10px;
    writing-mode: sideways-lr;
    background-color: #f3264b;
    color: black;
    font-size: 32px;
    text-align: center;
  }
}
@media only screen and (max-width: 600px) {
  .label {
    writing-mode: horizontal-tb;
    margin-top: none;
    padding: 5px;
    color: white;
    width: 100%;
    background-color: #f3264b;
    font-size: 1.75rem;
    margin: 0 10px 10px 10px;
  }

  .label-container {
    display: none;
  }
  .margintop {
    margin-top: 20px;
  }
}

.img-thumbnail {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 4em;
}

.jumbotron {
  background-color: #2d2a2a;
}

hr {
  background-color: white;
}

.lastrow {
  display: flex;
  justify-content: center;
}

/*gallery*/
.gallery .jumbotron {
  padding-bottom: 16px;
  padding-top: 16px;
}
.text-gallery {
  margin-top: 5px;
  text-align: center;
}

/**/
/*achievments*/
.thumbnail {
  width: 100%;
}


/*end of achievements*/

.nfooter {
  background-color: #202020;
}

.nfooter .thumbnail {
  background: rgba(0, 0, 0, 0);
  border: none;
  margin-bottom: 0px;
}

.nfooter .menu1 p {
  padding-top: 6px;
  color: white;
  font-size: 12px;
  text-align: center;
  margin-bottom: 2px;
}
.nfooter .menu1 hr {
  margin-bottom: 12px;
  margin-top: 12px;
}

.nfooter .menu1 ul {
  list-style-type: none;
  margin: 0px;
  padding: 20px 0px;
  text-align: left;
}
.nfooter .menu1 ul li {
  margin: 0px 20px;
}

.nfooter .menu1 ul li a {
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
}
.nfooter .menu1 ul li a:hover {
  background: rgba(0, 0, 0, 0.1);
}

.nfooter .menu2 h2 {
  padding-top: 18px;
  padding-left: 20px;
  color: white;
  font-size: 16px;
  /*text-align: center;*/
  margin-bottom: 2px;
}
.nfooter .menu2 p {
  color: white;
  font-size: 14px;
  padding-left: 20px;
  /*text-align: center;*/
  margin-bottom: 2px;
}

.nfooter .menu2 .socialicons p {
  padding-top: 30px;
  font-size: 16px;
}
.nfooter hr {
  margin-bottom: 08px;
  margin-top: 08px;
}

.nfooter .menu2 .socialicons ul {
  margin: 0px;
  padding: 10px;
  text-align: center;
}

.nfooter .menu2 .socialicons ul li {
  /*display:inline-block;*/
  list-style: none;
  display: inline-block;
  margin: 0px 10px;
  width: 50px;
  height: 50px;
  margin: 5px 10px;
  border-radius: 50%;
  background-color: lightgrey;
}

.nfooter .menu2 .socialicons ul li a {
  padding-top: 10px;
  color: black;
  font-size: 15px;
  display: block;
}

.nfooter .menu3 p {
  padding: 10px 20px 20px 20px;
  text-align: left;
  font-size: 15px;
  color: white;
}

.nfooter .menu3 h2 {
  font-size: 18px;
  padding: 18px 20px 0px 20px;
  text-align: left;
  color: white;
}

.nfooter .menu3 .loc {
  margin-left: 20px;
  margin-top: 20px;
}

.footer-bottom {
  width: 100%;
  height: auto;
  margin-top: 0px;
  background-color: #322f2f;
  padding: 5px;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 600px;
  padding-bottom: 0.1px;
}

.footer-credits {
  padding: 7px;
  padding-bottom: 0.1px;
  color: #c0c0c0;
  background-color: black;
  text-align: center;
  padding: 0.7 rem 0rem 0.05rem 0rem;
}

.footer-credits a {
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .img-container {
    display: flex;
    justify-content: center;
    margin-left:15%;
    margin-right: auto;
    width: 100%;
    overflow: hidden;
  }
}

@media only screen and (max-width: 768px) {
  .img-container {
    display: inline;
  }
}
